name: domain
description: Shared domain entities and repository interfaces for GRRADO
version: 0.1.0
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  equatable: ^2.0.5
  dartz: ^0.10.1
  core:
    path: ../core

dev_dependencies:
  flutter_test:
    sdk: flutter
